img {
  width: 400px;
  height: 300px;
}

body {
  background-color: LightCyan;
}

p {
  color: rgba(100, 12, 2, 0.8);
  text-color: white;
  font-size: 20px;
}


#banner {
  font-size: 10px;
}

.nlp {
  border: 2px red dashed; 
}
